

<body>
  <header>
    <div class="jumbotron" style="text-align:center;">
      <h1 >TinyApp</h1>
      <% if (user){%>

      <form action="/logout" method="POST">
        <label><%= user.id %></label>
        <input type="submit" value="logout" class="btn btn-default">
      </form>

      <% } else { %>

      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 col-sm-offset-4">
          <form action="/login" method="POST">
            <div class="input-group">
              <input type="text" name="username" placeholder="username" class="form-control">
              <input type="submit" value="submit" class="btn btn-success">
            </div>
          </form>
        </div>
      </div>
      <% } %>

    </div>
  </header>
</body>