<!-- Page rendered when you either have no access or not logged in -->

<!DOCTYPE html>

<html lang="en">
<%- include partials/_head.ejs%>

<body>
  <div class="container-fluid" style="text-align:center;">
    <%- include partials/_header.ejs %>
    <p>You do not have access to this page</p>
    <% if (user === undefined) { %>
    <p>Please login to continue</p>
    <% } %>
    <!-- Links back to /urls -->
    <a href="/urls" class="btn btn-primary">Back to main page</a>
  </div>
</body>

</html>