<!-- Renders when the page does not exist -->

<!DOCTYPE html>
<html lang="en">

<%- include partials/_head.ejs%>
<body>
  <div class="container-fluid" style="text-align:center;">
    <%- include partials/_header.ejs %>
    <p>This page does not exist</p>
    <a href="/urls" class="btn btn-primary">Back to main page</a>
  </div>
</body>

</html>