<!DOCTYPE html>
<html lang="en">
<%- include partials/_head.ejs%>

<body>
  <div class="container-fluid">
    <%- include partials/_header.ejs %>
    <form method="POST" action="/register" style="text-align:center;">
      <label>Register</label>
      <input type="email" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="enter" class="btn btn-primary">
    </form>
  </div>
</body>
</html>